# ignore all files in this dir...
*

# ... except for these
!.gitignore
!.gitkeep
!models/_empty_model.txt
!data/processed/labelManual.txt
!data/processed/randomForestOutput.txt

# ...even if they are in subdirectories
!*/
